<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\DLAdjApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="04:00:00" hostingModel="inprocess"  />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967290" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="4294967" executionTimeout="14400" />
  </system.web>
</configuration>